@font-face {
  font-family: "digital-7";
  src: url("./digital-7.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat.ttf");
  font-weight: 400;
  font-style: normal;
}
